html, body {
  padding: 0;
  margin: 0; 
  height: 3500px;
  width: 1342px;
  position: relative;
}



.head {
  width: 1349px;
  height: 10px;
  background-image: linear-gradient( to right, #851C1D , #DB202E  , #851C1D  );
  z-index: 5;
}


.main_header {
  width: 1349px;
  height: 105px;
  box-shadow: 0px 5px 10px 0px #CECECE;
  position: relative;
  z-index: 102;
  display: block;
}


.logo1 {
  position: absolute;
  z-index: 3;
  margin-top: -10px;
  margin-left: 90px;
  width: 128px;
  height: 159px;
  
}

.ul_1 {
  list-style: none;
  position: absolute;
  width: 500px;
  top: -6px;  
  left: 183px;
}

.ul_1 li {
  float: left;
  padding-right: 20px;
  text-transform: capitalize;
  color: #EB0A1E;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 14.1px;
  
}

span {
  
  font-size: 16px; 
  margin-left: 14px;
}  


.li1::after {
  content: "|";
  font-weight: bolder;
  margin-left: 19px;
  margin-right: 4px;
}




.logo2 {
  position: absolute;
  left: 1110px;
  top: 14px;
  width: 150px;
}



.ul2 {
  list-style: none;
  position: absolute;
  top: 41px;
  left: 170px;
}

.ul2 li:hover{
  background-image: linear-gradient(#B20818, #B20818); 
  cursor: pointer;
}

.ul2 li {
  float: left;
  padding: 10px 7px 3px 10px;
  height: 17px;
  background-image: linear-gradient(#EB0A1E, #C71F2A);
  text-align: center;
  color: #FDFBFC;
  font-size: 12px;
  margin-left: 10px; 
  border-radius: 5px;
}

.ul3 {
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 18px;
  font-weight: bolder;
  color: #666666;
  z-index:1000;
}

.ul3 li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 7px;

}

.ul3 li:hover {
  color:red;
  cursor:pointer;
}

.head .ul3 li {
  background-color:red;
  cursor: pointer;
}

.background {
  width: 1349px;
  z-index: 1;
  position: relative;
}

.opacity {
  height: 450px;
  width: 400px;
  background-color: #D3D1D2;
  background: rgb(208, 206, 206);
  opacity: .7;
  position: absolute;        
  top: 115px;
  left: 120px;
  z-index:  2;  
}

.opacity h1 {
  font-size: 55px;
  font-weight: bolder;
  color: rgb(1, 1, 1);
  left: 55px;
  top: 80px;
  position: absolute;
  z-index: 3;
}

.opacity h2 {
  position: absolute;
  font-size: 30px;
  top: 160px;
  left: 55px;
}

.opacity input {
  background-color: red;
  position: absolute;
  top: 243px;
  left: 55px;
  background-color: #FF0000;
  opacity: 1.0;
  font-weight: bolder;
  color: #fff;
  font-size: 14px;
  height: 40px;
  width: 105px;
  border: none;
  border-radius: 3px;  
}

.opacity input:hover {
  background-color: #B20919;
}

.aside_ul {
  list-style: none;
  position: fixed;
  top:205px;
  left:-40px;
  z-index: 3;
}

.aside_ul ul {
  margin: 0;
  position: relative;
  padding-top: 10px;
  display: block;
  background-color: #333D45;
  color: white;
  font-size: 19px;
  text-align: center;
  border-top: 1px solid #71787D;
  width: 54px;
  height: 44.5px;
  list-style: none;
}

.aside_ul ul li {
  display: none;
}



.aside_ul .one_ul:hover>.one_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul .two_ul:hover>.two_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul .three_ul:hover>.three_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul .four_ul:hover>.four_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul .five_ul:hover>.five_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul .sex_ul:hover>.sex_li
 {
  position: absolute;
  left: 94px;
  top: 0;  
  background-color: #D4202D;
  cursor:pointer;
  height: 36px;
  padding: 15px 10px 4px 10px;
  width: 250px;
  text-align: right;
  border-top:1px solid #71787D;
  border-top-right-radius: 5px;
  display: inline;
}

.aside_ul ul:hover {
  background-color: #1E2A32;
}

.circle_left {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 4px solid #E5E5E6;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 323px;
  left: 30px;
}

.circle_left:hover {
  border-color: #FFFFFF;
}

.circle_left:hover .left_arrow {
  border-color: #FFFFFF;
}

.left_arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 9px;
  top: 9px;
  border-top: 4px solid #E5E5E6;
  border-left: 4px solid #E5E5E6;
  background-color: transparent;
  transform: rotate(-45deg);
}

.circle_right {
  position: absolute;
  top: 323px;
  right: 30px;
  border-radius: 50%;
  border: 4px solid #E5E5E6;
  width: 28px;
  height: 28px;
  z-index: 2;
  
}

.circle_right:hover {
  border-color: #FFFFFF;
}

.circle_right:hover .right_arrow {
  border-color: #FFFFFF;
}

.right_arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 9px;
  border-top: 4px solid #E5E5E6;
  border-right: 4px solid white;
  background-color: transparent;
  transform: rotate(45deg);
}

.ul_4cont {
  background-color: #F3F3F3;
  margin-top: -5.1px;
  width: 1349px;
  height: 77px;
  border: 1px  solid #DFDFDF;
  border-left: 0px;
  border-right: 0px;
  position: relative;  
}


.span {
  color: red;
  font-size: 18px;
}

.ul_4cont ul {
  list-style: none;
  position: absolute;
  margin: 0;
  left: 49px;
}

.ul_4cont ul li {
  float: left;
  background-color: #F3F3F3;
  color: black;
  text-align: center;
  padding: 25px 28.5px;
  height: 27px;
  width: 231px;
  border:.8px solid #DFDFDF;
  font-size: 18px;
  font-weight: bolder;
}

.ul_4cont ul li:hover  {
  background-color:#EB0B1F;
  color: white;
}

.ul_4cont ul li:hover span {
  color: white;
}

.art1 h1 {
  margin-top: 53px;
  text-align: center;
  color: #414141;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 24px;
}

.art1 h2 {
  margin-top: 16px;
  text-align: center;
  font-weight: 300;
  color: #414141;
  text-decoration: none;
}

.art2 {
  width: 100%;
  height: 365px;
  background-color: #FFFFFF;
  position: relative;
} 

.all {
  position: absolute ;
  left: 120px;
}

.art2 .all .cars_img {
  background-color: #FFFFFF;
  margin: 5px;
  margin-top: 0;
  overflow: hidden;
  width: 170px;
  height: 270px;
  display: inline-block;
}

.art2 .all .cars_img img:hover {
  transform: scale3d(1.2,1.2,1.1);
}

.cars_img h2,h3,h4  {
  text-align: center;
}

.cars_img h3 {
  color: #010101;
}

.cars_img h4 {
  color: #676767;
}

.cars_img :nth-child(2) {
  margin-bottom: 0;
}

.cars_img :nth-child(3) {
  margin-top: 9px;
}

.cars_img :nth-child(4) {
  margin-top: 40px;
}


.circle_left2:hover {
  border-color: #AAAAAB;
}

.circle_left2:hover .left_arrow2 {
  border-color: #AAAAAB;
}

.circle_left2 {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 4px solid #676767;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 115px;
  left: 30px;
}

.left_arrow2{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 9px;
  top: 9px;
  border-top: 4px solid #676767;
  border-left: 4px solid #676767;
  background-color: transparent;
  transform: rotate(-45deg);
}
  
.circle_right2 {
  position: absolute;
  top: 115px;
  right: 30px;
  border-radius: 50%;
  border: 4px solid #676767;
  width: 28px;
  height: 28px;
  z-index: 2;
}

.circle_right2:hover {
  border-color: #AAAAAB;
}

.circle_right2:hover .right_arrow2 {
  border-color: #AAAAAB;
}

.right_arrow2 {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 9px;
  border-top: 4px solid #676767;
  border-right: 4px solid #676767;
  background-color: transparent;
  transform: rotate(45deg);
}

.art3 {
  background-image: linear-gradient(to bottom,#DBDBDB, #FBFBFB, #DADADA);
  width: 1349px;
  height: 370px;
  overflow: hidden;
  margin-top: 0;
}

.art3 h1{
  text-align: center;
  color: #414141;
  font-size: 24px;
  padding-top: 30px;
}

.art3 h2 {
  margin: -7px;
  font-weight: 100;
  text-align: center;
  color: #414141;
}


.select_all {
  width: 1349px;
  color: #A1A1A1;  
  height: 140px;
  position: absolute;
}

.select_all > div{
  display: inline-block;
  color: #A1A1A1;
  direction: rtl;
  padding: 5px;
}

.select_all select {
  text-align: left;
  border-color: #E1E1E1;
  width: 206px;
  height: 40px;
  border-radius: 5px;
  background-color: #F9F9F9;
  color: #8A8A8A;
  margin: 0px -3px ;
  outline: none;
}

.select_all button {
  float: left;
  position: relative;
  left: 90px;
  top: 60px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 90px;
  background-color: #D41325;
  color: white;
}

.select_all button:hover {
  background-color: #B20919;
}

.red >select {
  border: none;
  color: red;
  width: 100px;
  margin-left: 30px;
}

h6 {
  text-align: right;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 100;
  color: #010101;
}

h6 span {
  color: black;
  font-size: 15px;
  font-weight: 900;
}

.select_all .line {
  position: relative;
  top: 12px;
  width: 1px;
  margin: 0px 5px;
  padding: 0;
  height: 60px;
  background-color: #E1E1E1;
}

.select_all h1 {
  margin-top: 50px;
}

.red h6 {
  text-align: center;
  color: #ACACAC;
}

.art4  {
  position: relative;
}

.art4 img {
  position: relative;
}

.in_art button {
  position: absolute;
  top: 270px;
  left: 140px;
  width: 110px;
  height: 43px;
  border-radius: 5px;
  border: none;
  background-color: #D41325;
  color: white;
  font-size: 15px;
}

.in_art button:hover {
  background-color: #B20818;
  cursor: pointer;
}

.circle_left3:hover {
  border-color: #fff;
}

.circle_left3:hover .left_arrow3 {
  border-color: #fff;
}  

.circle_left3 {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 4px solid #EAEAEA;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 175px;
  left: 30px;
}

.left_arrow3{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 9px;
  top: 9px;
  border-left: 4px solid #EAEAEA;
  border-top: 4px solid #EAEAEA;
  background-color: transparent;
  transform: rotate(-45deg);
}

.circle_right3 {
  position: absolute;
  top: 175px;
  left: 1285px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #EAEAEA;
  width: 28px;
  height: 28px;
  z-index: 3; 
}

.right_arrow3 {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 9px;
  border-top: 4px solid #EAEAEA;
  border-right: 4px solid #EAEAEA;
  background-color: transparent;
  transform: rotate(45deg);
}

.circle_right3:hover {
  border-color: #fff;
}

.circle_right3:hover .right_arrow3 {
  border-color: #fff;
}

.art5{
  width: 1349px;
  height: 772px;
  background-image: linear-gradient(to bottom,#D9D9D9  , #FFFFFF 10%, #FFFFFF 88%, #DADADA 97%);
  overflow: hidden;
  position: relative;
  top: -4px;
}

.art5 .h_2 {
  margin: 43px auto;
  width: 500px;
  text-align: center;
}


.art5 .h_2 h1 {
  color: #515151;
  margin-top: 60px;
}

.art5 .h_2 h2 {
  color: #515151;
  font-weight: 200;
  margin: -4px 0px 0px 5px;
}

.two_div {
  background-color: red;
  margin-top: -35px;
}

.two_div >div{
  display: inline-block;
  margin: 9.5px;
}

.two_div .div1 p {
  color: black;
  font-weight: 500;
  text-align: center;
  margin-left: 17px;
  width: 616px;
  font-size: 22px;
}

.two_div .div2 p {
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  width: 650px;
}
.div1 {
  float: left;
}

.div2{
 float: right;
 
}

.art5 img {
  border-radius: 5px;
}

.art5 .line2 {
  width: 1150px;
  height: 1px;
  background-color: #DFDFDF;
  position: absolute;
  top: 665px;
  left: 100px;
}

.art5 .line2 button {
  position: absolute;
  left: 503px;
  top: -20px;
  width: 145px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #D41325;
  color: white;
  font-size: 16px;
}

.art5 .line2 button:hover {
  background-color: #B20818;
  cursor: pointer;
}

.circle_left4 {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 4px solid #7F7F7F;
  border-radius: 50%;
  position: absolute;
  z-index: 2 ;
  top: 322px;
  left: 30px;
}

.left_arrow4{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 9px;
  top: 9px;
  border-left: 4px solid #7F7F7F;
  border-top: 4px solid #7F7F7F;
  background-color: transparent;
  transform: rotate(-45deg);
}
  
.circle_right4 {
  position: absolute;
  top: 322px;
  left: 1284px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #7F7F7F;
  width: 28px;
  height: 28px;
  z-index: 3; 
}

.right_arrow4 {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 9px;
  border-top: 4px solid #7F7F7F;
  border-right: 4px solid #7F7F7F;
  background-color: transparent;
  transform: rotate(45deg);
}

.circle_right4:hover {
  border-color: #D1D1D1;
}

.circle_right4:hover .right_arrow4 {
  border-color: #D1D1D1;
}


.circle_left4:hover {
  border-color: #D1D1D1;
}

.circle_left4:hover .left_arrow4 {
  border-color: #D1D1D1;
}  


.art6 {
  height: 750px;
  width: 1349px;

}

.art7 {
  position: relative;
}

.art7 .youtube {
  width: 110px;
  height: 90px;
  background-color: #050502;
  position: absolute;
  top: 180px;
  left: 615px;
  opacity: .8;
  border-radius: 9px;
}

.in_arrow {
 margin: 22px 38px ;
 border: 22px solid transparent;
 border-left: 35px solid white;
}

.art8 {
  height: 259px;
  width: 1349px;
  border-bottom: 1px solid #DFDFDF;
}

.art8 h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: #414141;
  margin-top: 50px;  
}

.art8 h2 {
  text-align: center;
  font-size: 25px;
  margin-top: -6px;
  font-weight: 500;
  color: #414141;
}

.art8 .right_side {
  width: 450px;
  float: right;
  height: 130px;
}
.art8 .right_side h1 {
   margin-top: 0; 
}

.art8 .right_side button {
  display: block;
  margin-top: -35px;
  border-radius: 5px;
  border: none;
  background-color: #D41325;
  color: white;
  width: 62px;
  height: 28px;
}

.art8 .right_side button:hover {
  background-color: #B20919;
  cursor: pointer;
}

.art8 .right_side select {
  width: 360px;
  height: 40px;
  margin-top: 4px;
  padding: 0px 22px ;
  border-radius: 3px;
  border-color: #DDDDDD;
  direction: rtl;
  color: #414141
}

.art8 .right_side h2 {
  font-size: 15px;
  color: red;
  font-weight: bolder;
  margin: 17px 0px 0px 30px;
  text-decoration: underline;
  text-align: left;
}

.art8 .right_side h2:hover {
  color: #A20816;
  text-decoration: none;
  cursor: pointer;
}

.art8 .left_side {
  float: left;
  height: 100px;
  width: 50%;
}

.left_side h2 {
  color: #464646;
  font-weight: bolder;
  font-size: 20px;
  text-align: right;
  margin-right: 7px;
}

.buttons {  
  margin-left: 70px;
}

.left_side button {
  padding: 13px 23px;
  font-size: 15px;
  background-color: #D41325;
  color: white;
  border-radius: 5px;
  border: none;
  margin-right: 7px;
}

.left_side button:hover {
  background-color: #B20919;
  cursor: pointer;
}

.art9 {
  height: 75px;
}

.right {
  width: 445px;
  float: right;
}

.right p {
  color: #666666;
  font-size: 18px;
  margin: 22px;
}

.right ul {
  list-style: none;
  margin-top: 10px;
}

.right ul li {
  float: left;
  padding: 5px;
}

.right img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: .1px solid gray;
}

.right img:hover {
    cursor: pointer;
}


.left {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 60px;
  margin-top: 10px;
  position: relative;
}

.left a{
  text-decoration: none;
}

.left p {
  margin-left: 60px;
  margin-top: 15px;
  color: #666666;
  font-size: 17.4px;
}

.arrow_div {
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline;
  top: 22px;
  left: 35px;
  border-left: 4px solid #666666;
  border-top: 4px solid #666666;
  transform: rotate(45deg)
}

.art10 {
  width: 1349px;
  height: 360px;
  background-image: linear-gradient(  #DADADA , #FDFDFD 20% , #DADADA 90%);
  position: relative;
}

.art10 .list_one {
  height: 100%;
  width: 400px;
  position: absolute;
  left: 135px;
  top: 25px;
}

.art10  ul {
  list-style: none;
  text-align: right;
  float: left;
  margin-top: 20px;
  color: #666666;
  font-size: 13px;
}

.art10 p {
  font-size: 17px;
  color: #404040;
  font-weight: bolder;
}

.art10  ul li {
  padding: 2.5px;
  font-weight: bolder;
}

.art10 .list_two {
  position: absolute;
  left: 400px;
  top: 27px;
}

.list_three {
  position: absolute;
  left: 590px;
  top: 27px;
}

.list_four {
  position: absolute;
  top: 27px;
  left: 750px;
}

.list_five {
  position: absolute;
  top: 27px;
  left: 1130px;
}

.art10 li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  background-image: linear-gradient(to right, #861C1D,#CE202C 50%,#891D1E);
  height: 65px;
  width: 1349px;
  margin-bottom: 5px;
  position: relative;
}

.left_footer {
  width: 300px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 100px;
}

.left_footer p {
  display: inline;
  margin-right: -10px;
  color: white;
  font-weight: bolder;
  font-size: 14px;
}

.left_footer span p::after {
  content: "|";
  margin-right: 12px;
  color: white;
}

.right_footer {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

.right_footer img {
  position: absolute;
  right: 89px;
  top: 20px;
}

.right_footer p {
  font-size: 14px;
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 16px;
  right: 320px;
}
/* the end */